%table
  - @blurbs.each do |blurb|
    %tr
      %td
        = link_to blurb.title, blurb
      %td
        = link_to 'Destroy', blurb_path(blurb), :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Blurb', new_blurb_path
