body {
  background-image: url("/images/layout/bg.gif"); }

#header #banner {
  position: relative;
  bottom: -10px; }
#header img {
  border: 0px; }
#header .table {
  position: relative;
  bottom: -5px; }

.table {
  display: table; }

.row {
  display: table-row; }

.cell {
  display: table-cell; }

.navigation {
  width: 187px;
  background-color: #532380; }
  .navigation ul {
    list-style: none; }
    .navigation ul li a {
      color: white;
      text-decoration: none; }

#content {
  width: 751px;
  padding: 10px;
  background-color: white; }

#footer img {
  width: 958px;
  border-width: 0px; }
