%center
  %h3 Division of Computing 

%h4 Why major in Computing? 
%p
  Because it is a fascinating field, never boring, and very much in demand.
  Also, salaries and the number of openings for information technology (IT)
  related jobs are on the rise. A  quick look at one of the many online job
  search sites specializing in IT jobs shows an impressive array of available
  positions both for people with a thorough technical background and for
  graduates with a combination of technical and management skills. 
  %br
  %br
  The programs we offer are built upon a strong technical foundation of
  programming, hardware, and networking courses, providing students with
  thorough training in problem solving and critical thinking. The programs also
  prepare students for a lifetime of learning in the technology field, a
  critical requirement in an area that is constantly changing and growing.

%h4 Computer Science 
%p
  The Computer Science program is built upon a strong foundation of mathematics
  and science, requiring courses in  calculus, linear algebra, and physics.
  Students receive rigorous technical training, which prepares them for
  employment as system programmers, software developers, or future graduate
  studies in computer science.

%h4 Computer Information Systems 
%p
  The Computer Information Systems (CIS) program has strong ties to business,
  requiring courses in economics, accounting, and management.  Students are
  exposed to these business courses while simultaneously being exposed to solid
  technical training. This provides them with the ideal skill set for a wide
  range of information technology jobs or future graduate studies in CIS or
  business (MBA).

%h4 Computational Science 
%p
  The Computational Science major emphasizes the use of computers and
  mathematics in the development of solutions to complex problems. Students
  majoring in Computational Science take a variety of mathematics and computer
  science courses that provide the needed theoretical foundation. Additionally,
  students take courses in a field of specialization, which provides an
  application area. Students may specialize in Economics and Finance, Biology,
  Chemistry, or Mathematics. Students in consultation with a faculty member may
  also develop a field of specialization that meets individual interests.
  Computational Science majors are prepared for a variety of careers in
  industry, research labs, and engineering facilities. Computational Science
  majors are also prepared to pursue advanced degrees in areas such as Computer
  Science, Mathematics, Bioinformatics, Mathematical Finance, and Computational
  Science.

%h4 Information Technology 
%p
  Information Technology majors study the practical applications of computing
  and communications technology. Most organizations have become dependent on
  networked computing infrastructure to the degree that they could not function
  without the infrastructure. Information Technology majors are prepared to
  select, manage and maintain the technological infrastructure of an
  organization. Students with a major in Information Technology obtain positions
  in organizations planning and managing the organization's technology.

%h4 Interactive Media 
%p
  The Interactive Media major provides students with a strong theoretical
  foundation and specializes in software development such as Web tools,
  artificial intelligence, graphics, and other interactive software techniques.
  Students majoring in Interactive Media are prepared for careers in application
  software development and to pursue further education and advanced degrees.

%h4 About our division 
%p
  We currently have five full time faculty members, two specializing in computer
  science, and three in information systems. Our classes are small in size, and
  we encourage an informal atmosphere conducive to learning, cooperation  among
  students, and exchange of ideas. We maintain a computer lab for the use of our
  students, which is an invaluable tool in many of our courses. In addition, the
  lab is staffed with tutors qualified to assist those who need help in their
  mathematics and computer science courses.

%h4 About our graduates 
%p
  Some of the companies that our recent graduates are working for include:
  TekSystems, Lockheed Martin, The Defense Information Systems Agency (Unites
  States Air Force), NCI, A.G. Edwards, SBC, Anheuser Busch, and Boeing. Others
  have gone on to graduate studies at schools such as Southern Illinois
  University, Washington University, Iowa State, and Purdue University.  Here is
  a sampling of what some of them had to say about their learning experience:
  %br
  %br
  "McKendree provided me with the tools and knowledge to succeed in the job
  market"
  %br
  %i -CJ Dulaney, Computer Programmer/Analyst , Boeing
  %br
  %br
  "The small class sizes provided me with the opportunity to get to know my
  teachers and classmates better, and at the same time gave me a more professional
  approach to my college career."
  %br
  %i -Greg Albertina, IT/Business Development Manager, Illinois Distributing
  %br
  %br
  "McKendree College offers students small classes and individualized attention
  that lead to strong educational backgrounds.  The knowledge and skills I gained
  at McKendree helped me get the job I wanted at a great company."
  %br
  %i -Tasha Bury, Mgr., Product Supply Systems, Anheuser-Busch, Inc.
