<span class="body2">
<center>

            <a href="index.html"> </a> <b> Division of Computing </b> 

</center>
  <br>

	&nbsp;&nbsp;&nbsp;<u><b>Computer Science &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></u><br>
  		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Computer
                Information Systems</b>&nbsp;&nbsp;&nbsp;&nbsp;<br><br><center>

    </center><p></p><table bordercolorlight="#C0C0C0" bordercolordark="#C0C0C0" border="0" cellpadding="0" cellspacing="0" height="514" width="500">	   

            

<tbody><tr>
       <td align="center" valign="top" width="21%">
          <img src="images/thumbnails/kian.jpg" border="1" height="77" width="77">
       </td>
       <td align="left" valign="top" width="79%">
		      <p style="text-indent: 0pt; margin-left: 0pt; margin-right: 5px;">
          <span class="body2">
              <b>Kian L. Pokorny, Ph.D., Associate Professor
              <br>Chair, Division of Computing </b>
              <br>&nbsp;&nbsp;<a href="mailto:klpokorny@mckendree.edu"><font color="#532380">klpokorny@mckendree.edu</font></a>
              <br>&nbsp;&nbsp;(618) 537-6440; Clark Hall 202a
              <br>&nbsp;&nbsp;<a href="http://www.mckendree.edu/facultystaff.aspx?id=71"><font color="532380">Webpage</font></a>
       </span></p></td>
    </tr>

	 	<tr>
       <td align="center" valign="top" width="21%">
          <img src="images/thumbnails/jim.jpg" border="1" width="77" height="77">
       </td>
       <td align="left" valign="top" width="79%">
          <span class="body2">
              <b>James D. Feher, Ph.D., Associate Professor
		          <br>Division of Computing</b>
              <br>&nbsp;&nbsp;<a href="mailto:jdfeher@mckendree.edu"><font color="#532380">jdfeher@mckendree.edu</font></a>
              <br>&nbsp;&nbsp;(618) 537-6956; Clark Hall 207
              <br>&nbsp;&nbsp;<a href="http://www.mckendree.edu/facultystaff.aspx?id=39"><font color="532380">Webpage</font></a>
       </span></td>
    </tr>


		<tr>
       <td align="center" valign="top" width="21%">
          <img src="images/thumbnails/Mostafa_thumb.jpg" border="1" width="77" height="77">
       </td>
       <td align="left" valign="top" width="79%">
          <span class="body2">
              <b>Mostafa G. Mostafa, Ph.D. Assistant Professor
		          <br>Division of Computing</b>
              <br>&nbsp;&nbsp;<a href="mailto:mmostafa@mckendree.edu"><font color="#532380">mmostafa@mckendree.edu</font></a>
              <br>&nbsp;&nbsp;(270) 351-5003, Ext. 13; Radcliff, Ky
              <br>&nbsp;&nbsp;<a href="http://www.mckendree.edu/facultystaff.aspx?id=322"><font color="532380">Webpage</font></a>
       </span></td>
    </tr>


    <tr>
       <td align="center" valign="top" width="21%">
          <img src="images/thumbnails/fred.jpg" border="1" height="77" width="77">
       </td>
       <td align="left" valign="top" width="79%">
	        <span class="body2">
              <b>Fred Underwood, Assistant Professor
	          	<br>Division of Computing</b>
              <br>&nbsp;&nbsp;<a href="mailto:funderwo@mckendree.edu"><font color="#532380">funderwo@mckendree.edu</font></a>
              <br>&nbsp;&nbsp;(618) 537-6852; Clark Hall LL-4
              <br>&nbsp;&nbsp;<a href="http://www.mckendree.edu/facultystaff.aspx?id=84"><font color="532380">Webpage</font></a>
       </span></td>
    </tr>


		<tr>
       <td align="center" valign="top" width="21%">
          <img src="images/thumbnails/NathanW_thb.jpg" border="1" height="77" width="77">
       </td>
       <td align="left" valign="top" width="79%">
        	<span class="body2">
              <b>Nathan White, Instructor
		          <br>Division of Computing</b>
              <br>&nbsp;&nbsp;<a href="mailto:nawhite@mckendree.edu"><font color="#000000">nawhite@mckendree.edu</font></a>
              <br>&nbsp;&nbsp;(618) 537-6588; Clark Hall 208
              <br>&nbsp;&nbsp;<a href="http://www.mckendree.edu/facultystaff.aspx?id=273"><font color="532380">Webpage</font></a>
       </span></td>
    </tr>
	  


          </tbody></table>
          
        
      </span>
