#banner
  %a{:href => 'http://www.mckendree.edu'}
    %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/McKendree_University_Logo.gif'}
.table
  .row
    .cell
      %a{:href => 'http://www.mckendree.edu/prospective/index.aspx'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/Prospective_Students.gif'}
    .cell
      %a{:href => 'http://www.mckendree.edu/current/index.aspx'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/Current_Students.gif'}
    .cell
      %a{:href => 'http://www.mckendree.edu/faculty_staff/index.aspx'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/Faculty.gif'}
    .cell
      %a{:href => 'http://www.mckendree.edu/alumni/alumni_services.aspx'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/Alumni.gif'}
    .cell
      %a{:href => 'http://www.mckendree.edu/parents_visitors/parents_visitors.aspx'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/Parents.gif'}
    .cell
      %a{:href => 'http://www.mckendree.edu/#'}
        %img{:src => 'http://lance.mckendree.edu/csi/images/header_links/McKendree_Quick_Links.gif'}
